div {
	font-family: sans-serif;
}

div#chante {
	background-color: #d3d3d3;
	text-align: center;
}

.main-nav {
	text-align: center;
}

.main-nav ul {
	width: 100%;
	padding: 0;
}

.main-nav li {
	float: left;
	width: 33%;
	display: inline-block;
}

a:link {
	color: gray;
	text-decoration: none;
}

a:hover {
	color: skyblue;
	text-decoration: underline;
}

a:visited {
	color: lightgray;
}
