* {
}
.bottom {
	float: left;
	width: 49.6%;
	height: inherit;
}

.bottomAlign {
	position: absolute;
	bottom: 15px;	
	left: 15px;
}

.main-nav {
	text-align: center;
	background: #d5a5a5;
	height: 50px;
	padding: 5px;
}

.main-nav ul {
	width: 100%;
	padding: 0;
}

.main-nav li {
	float: left;
	width: 33%;
	display: inline-block;
	font-size: 24px;
}

/* ID */
#bottomBar {
	position: relative;
	width: 100%;
	background: rgba(220, 220, 220, 1);
	height: 200px;
	text-align: center;
	color: #fff;
}

#divider {
	position: absolute;
	top: 25%;
	left: 50%;
	height: 50%;
	float: left;
	border-left: 1px dotted #fff;
}
#topBar {
	background: rgba(220, 220, 220, 1);
	position: relative;
	height: 160px;
	font-size: 48px;
	color: #909090;
}

/* ELEMENTS */
a:link {
	color: gray;
	text-decoration: none;
}

a:hover {
	color: skyblue;
	text-decoration: underline;
}

a:visited {
	color: lightgray;
}
