#title {
	background: #222130;
	color: snow;
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	height: 300px;
	line-height: 260px;
}
#content {
	padding: 50px;
}
.bar{
	background: rgba(175, 175, 175, .8);
	border-radius: 7px;
	transition: background .5s;
	display: inline-block;
	width: 100px;
	height: 18px;
	margin: 8px;
}
.bar:hover {
	background: rgba(255, 255, 255, .4);
	transition: background .5s;
}
.bttn {
	display: inline;
	background: #f0f0f0;
	box-shadow: 1px 1px 2px;
	padding-left: 4px;
	padding-right: 4px;
}
.mono {
	font-family: monospace;
}
.code {
	font-family: monospace;
	background: #222130;
	color: snow;
	padding: 8px;
	border-radius: 7px;
	margin: 32px;
}
div.par {
	padding: 4px;
}
li {
	margin-bottom: 10px;
}
h1 {
	font-weight: normal;
	font-size: 64px;
	margin: auto;
}
body {
	background: #f9f9f9;
	font-family: 'Raleway', sans-serif;
}
h2,h3 {
	font-weight: normal;
}
h3 {
	margin-bottom: 0;
}
p { 
	padding-left: 16px;
}
