div {
	font-family: 'Raleway', sans-serif;
	color: #242635;
}

/* MAP */
.background {
	fill: none;
	pointer-events: all;
}

.land {
	fill: #ddd;
	stroke: #fff;
	stroke-opacity: 0;
}

/* CLASSES */
.bottom-bar {
	color: gray;
	background: #bebbbb;
	text-align: center;
	height: 100px;
	width: 100%;
	margin-top: 50px;
	position: 
}

.cleared {
	clear: both;
	height: 10px;
}
.container {
	background: rgba(252, 247, 247, 0.68);
	width: 295px;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}

.contentWrapper {
}

.mono {
	font-family: monospace;
}

.preview-box {
	font-family: monospace;
	background: #242635;	
	color: snow;
	border-radius: 5px;
	width: inherit;
	padding: 0px;
	margin: 5px;
	overflow-x: auto;
	box-shadow: 1px 1px 5px #555 inset;
}

.selectContainer{
	min-height: 20px;
}

.selectDiv {
	float: left;
	clear: both;
}

.selectPreview {
	white-space: nowrap;
	padding-left: 0.3em;
}

/* IDS */


#input-field {
	position: absolute;
	opacity: 0;
	right: 0px;
	width: inherit;
	height: 690px;
	background-color: rgba(175, 175, 175, .95);
	border-radius: 7px;
}

#idPreview {
	background: #242635;
	color: snow;
	overflow: auto;
	max-width: 205px;
}


#inputContainer {
	display: none;
	float: left;
	width: inherit;
	height: inherit;
	overflow: auto;
	overflow-x: hidden;
}

#inputHeading {

}

#leftCheckbox {
	width: 49%;
	max-height: 120px;
	float: left;
	overflow: auto;
	background: #efefef;
	white-space: nowrap;
	box-shadow: 1px 1px 5px #555 inset;
	border-radius: 5px;
}

#rightCheckbox {
	width: 49%;
	max-height: 120px;
	float: right;
	overflow: auto;
	background: #efefef;
	white-space: nowrap;
	box-shadow: 1px 1px 5px #555 inset;
	border-radius: 5px;
}

#lhsContainer{
	display: none;
}

#lhsSelect {
	width: 100%;
}

#mapContainer {
	float: left;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	opacity: 0;
}

#mapLoader0 {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	animation: flickerAnimation 2s infinite;
}

#mergeContainer {
	display: none;
}

#modelHeading{
	display: none;
}

#outcomeSelector {
	display: block;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
}

#previewChecked {
	font-family: monospace;	
	margin-top: 5px;
}

#rhsContainer {
	display: none;
	min-height: 190px;
}

#showInput:hover {
	background: #bebbbb;
	background: rgba(150, 150, 150, .8);
	transition: background .5s;
	border-radius: 7px;
}

#showInput {
	float: left;
	height: inherit;
	width: 30px;
	background: rgba(255,255,255,.4);
	transition: background .5s;
	border-radius: 7px;
}

#yourOutcome {
	width: 220px;
}

@keyframes flickerAnimation {
	0%   { 
		background: #db0631; 
	}
	25% {
		background: #fff;	
	}
	50%  { 
		background: #535650; 
	}
	75% { 
		background: #fff;	
	}
	100% {
		background: #db0631; 
	}
}

/* ELEMENTS */
select {
	width: 90px;
}

svg {
	display: block;
	margin: auto;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Playfair Display', serif;
}

h1 {
	text-align: center;
	margin-bottom: 50px;
}

h2 {
	text-align: center;
	margin: auto;
}

h3 {
	margin-top: 0;
	margin-bottom: 5px;
}

h4 {
	margin: 0px;
}

p {
	margin-top: 0px;
}

th {
	text-align: left;
}

tr {
	white-space: nowrap;
}

div.tooltip {
	position: absolute;
	text-align: left;
	padding: 4px;
	background: #efefef;
	background: rgba(239, 239, 239, .9);
	border: 0px;
	border-radius: 5px;
	pointer-events: none;
}

div.tooltip h1 {
	font-size: 18px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 4px;
}

td.data {
	text-align: right;
	width: 80px;
}

select {
	font-family: monospace;
}
