/* {
	border: 1px solid gray;
} */

.background {
	fill: none;
	pointer-events: all;
}

.land {
	fill: #ddd;
}

.border {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.land :hover {
	fill-opacity: .6;
	stroke: #fff;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.input-field {
	float: right;
	width: 33%;
}

.mapContainer {
	float: left;
	width: 66%;
}

.bottom-bar {
	color: gray;
	text-align: center;
}

.preview-box {
	font-family: monospace;
	background: #ece9e9;	
	border-radius: 5px;
	padding: 4px;
	margin: 5px;
	overflow-x: scroll;
}

#cleared {
	clear: both;
}

h2 {
	text-align: center;
}

th {
	text-align: left;
}

div.tooltip {
	font-family: sans-serif;
	position: absolute;
	text-align: left;
	padding: 4px;
	background: rgba(236, 233, 233, .8);
	border: 0px;
	border-radius: 5px;
	pointer-events: none;
}

div.tooltip h1 {
	font-family: sans-serif;
	font-size: 18px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 4px;
}

td.data {
	text-align: right;
}
